<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>博客系统-后台管理</title>
    <link rel="stylesheet" href="./public/admin/css/pintuer.css">
    <link rel="stylesheet" href="./public/admin/css/admin.css">
    <script src="./public/admin/js/jquery.js"></script>
    <script src="./public/admin/js/pintuer.js"></script>
    <script src="./public/admin/js/respond.js"></script>
    <script src="./public/admin/js/admin.js"></script>
</head>
<body>
<div class="lefter">
    <div class="logo"><a href="#" target="_blank"><img src="./public/admin/images/logo.png" alt="后台管理系统" /></a></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
                <a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="?p=admin&c=Land&a=Out">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <li class="active"><a href="?p=admin" class="icon-home"> 开始</a>
                    <ul>
                        <li class=""><a href="?p=admin&c=Class&a=List">分类管理</a></li>
                        <li class="active" ><a href="?p=admin&c=Article&a=List">文章管理</a></li>
                        <li class="ax"><a href="?p=admin&c=Mege&a=List">留言管理</a></li>
                        <li class="ax"><a href="?p=admin&c=Setup&a=List">站点管理</a></li>
                        <li class="ax"><a href="?p=admin&c=Connect&a=List">友情链接</a></li>
                        <li class="ax"><a href="?p=admin&c=User&a=List">用户管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，admin，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="?p=admin" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>
<div class="admin">
	<form method="post">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>评论管理</strong></div>
        <div class="padding border-bottom">
            <table class="table table-hover">
                <tr>
                    <th width="45">序号</th>
                    <th width="100">文章分类</th>
                    <th width="*">文章标题</th>
                    <th width="*">作者</th>
                    <th width="150">时间</th>
                </tr>
                <tr>
                    <td><?php echo $data['art_id'];?></td>
                    <td><?php echo $data['col_content'];?></td>
                    <td><?php echo $data['art_title'];?></td>
                    <td><?php echo $data['art_name'];?></td>
                    <td><?php echo date('Y-m-d H:s:i', $data['aer_time']);?></td>
                </tr>
            </table>
        </div>
        <table class="table table-hover">
		     <tr>
                 <th width="240">评论内容</th>
                 <th width="*">评论者姓名</th>
                 <th width="*">评论时间</th>
                 <th width="100">操作</th>
            </tr>
            <?php foreach($dis_data as $value) :?>
            <tr>
                <td><?php echo $value['dis_content'] ;?></td>
                <td><?php echo $value['dis_name'] ;?></td>
                <td><?php echo date('Y-m-d H:s:i', $value['dis_tiem']);?></td>
                <td>  <a class="button border-yellow button-little" href="?p=admin&c=Discuss&a=Delete&dis_id=<?php echo $value['dis_id'];?>&art_id=<?php echo $art_id;?>">删除</a> </td>
            </tr>
            <?php endforeach ?>
        </table>
    </div>
    </form>
    <br />
</div>
</body>
</html>