<div class="lefter">
    <div class="logo"><a href="#" target="_blank"><img src="./public/admin/images/logo.png" alt="后台管理系统" /></a></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
                <a class="button button-little bg-main" href="/" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="?p=admin&c=Land&a=Out">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <li class="active"><a href="?p=admin" class="icon-home"> 开始</a>
                    <ul>
                        <li class="ax"><a href="?p=admin&c=Class&a=List">分类管理</a></li>
                        <li class="ax" ><a href="?p=admin&c=Article&a=List">文章管理</a></li>
                        <li class="ax"><a href="#">留言管理</a></li>
                        <li class="ax"><a href="#">站点管理</a></li>
                        <li class="ax"><a href="#">友情链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，admin，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="?p=admin" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var aLi = document.getElementsByClassName("a");
        for (var i=0;i<aLi.length;i++){
            aLi[i].onclick = function (){
                for (i = 0; i < aLi.length; i++) aLi[i].className = aLi[i].className.replace(/\s?active/,"");
                this.className += " active";
            }
        }
    }

</script>