
<aside class="right">
    <div class=""><iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=11&icon=&num=1&py=guangyuan"></iframe></div>
    <div class="news">
        <h3>
            <p>最新<span>文章</span></p>
        </h3>
        <ul class="rank">
            <?php foreach($art_new as $value):?>
            <li><a href="?c=Article&a=Details&art_id=<?php echo$value['art_id'];?>"  target="_blank"><?php echo $value['art_title'];?></a></li>
            <?php endforeach ;?>
        </ul>
        <h3 class="ph">
            <p>栏目<span>分类</span></p>
        </h3>
        <ul class="paih">
            <?php foreach($class_data as $value):?>
            <li><a href="?c=Class&a=List&col_id=<?php echo$value['col_id'];?> " title="<?php echo $value['col_message'];?>" target="_blank"><?php echo $value['col_content'];?></a></li>
            <?php endforeach ;?>
        </ul>
        <h3 class="links">
            <p>友情<span>链接</span></p>
        </h3>
        <ul class="website">
            <?php foreach($ct_data as $value):?>
            <li><a href="<?php echo $value['ct_url'];?>"  target="_blank"  title="<?php echo $value['ct_msg'];?>"><?php echo $value['ct_content'];?></a></li>
            <?php endforeach;?>
        </ul>
    </div>
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>
    <!-- Baidu Button END -->
    <a href="/" class="weixin"> </a></aside>
